html,body,h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Condensed', sans-serif;
}
/*Background Theme*/
	.description {
		padding-left:3%;
		padding-right:3%;
		color:white;
		height: 100%;
	}

	.image {
		/*background-image: url(2.-Elegant-laboratory.jpg);*/
		background-image: url("image3.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height:103%;
		width: 102%;
		position: fixed;
		margin-top:-2%;
		margin-left:-2%;
	}

	.total-content-background {
			top:0;
			width:100%;
			height: 100%;
			margin-left: -1%;
			position:absolute;
	}
/*Background Theme*/


/*GPA Theme*/
	.heading {
		background-color:rgba(127, 123, 115, .90);
		padding:15px;
		color:white;
	}

	.sem-list {
		list-style: none;
		position:fixed;
		transform:translateX(-100%);
		height:700%;
		background-color:rgba(0,0,0,.70);
		top:-2%;
		left:0;
	}

	@media screen and (min-width:1024px)
	{
		.fix {
			margin-left: 2%;
		}
	}

	.sem-list li a,.sem-list li button{
		text-decoration: none;
		float:left;
		background-color: transparent;
		border:1px solid black;
		color:white;
		padding:5px;
		margin-top:10%;
		margin-left:-20%;
		font-size:1.5em;
		width:100%;
	}

	.sem-list li button {
		background-color: rgb(210, 214, 220);
		color:black;
		font-weight: bold;
	}

	.sem-list li a:hover {
		background-color:rgba(235, 202, 116, .40);
		transform:translateX(5px);
	}

	.sem-list li button:hover {
		 transform:scale(1.06);
	}

	.content {
		background-color: rgba(0,0,0,.60);
		padding:10px;
		border-radius:10px;
	}

	.home-content {
		
	}

	.home-content-whole {
		padding:5%;
	}

	.home-content-whole a {
		text-decoration: none;
		color:white;
	}

	.dept{
		font-size:2.3em;
	}

	@media screen and (min-width: 720px)
	{
		.home-link:hover {
		background-color:rgba(235, 202, 116, .40);
		transform:translateX(5px);
		padding:1%;
		transition-duration: 1s;
		}

	}

	.content-heading {
		background-color:rgba(235, 202, 116, .40);
		padding:10px;
		color:white;
	}
	.content-table {
		color:white;
		border-collapse: collapse;
		border-spacing: 0;
		margin-bottom: 20px;
		margin-left:1%;
	}

	.content-table tr td,.content-table tr th{
		border:1.5px solid rgba(235, 202, 116, .40);
		padding:5px;
		font-size:2em;
	}

	.content-table tr td select {
		width:70px;;
	}

	.result {
		color:white;
		font-size:1.5em;
	}
	
	.percentage {
		width:50%;
		background-color: rgba(0,0,0,.80);
		height:5%;
		border:1px solid grey;
	}

	.percentage-amount {
		width:0;
		height:100%;
		background-color:rgba(0,125,0,.5);
	}

	.calc-button {
		width:auto;
		height:35px;
		margin-left: 1%;
		background-color:rgba(235, 0, 0, .40);
		color:white;
	}

	.calc-size {
		height: 40px;
		width:100px;
		font-size: 20px;
	}

	.menu {
		animation-name: blink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	.code {
		display:none;
	}

	@keyframes blink {
		100% {
			transform:scale(1.3);
		}
	}

	th {
		background-color:rgba(235, 202, 116, .30);
		text-align: left;
		color:white;
	}

	select {
		background-color:rgba(235, 0, 0, .40);
		color:white;
		height:35px;
		font-size:20px;
	}

	option {
		color:black;
	}

	input {
		background-color:rgba(0,0,0,.60);
		color:white;
		height:3%;
		font-size:0.8em;
	}
/*GPA Theme*/


/* Grid */
	.row {
		margin-right: -20px;
	}

	.col {
		width: 100%;
		float: left;
		padding-right: 20px;
		box-sizing: border-box;
	}

	.col-xs-11 {width: 91.662%}
	.col-xs-10 {width: 83.332%;}
	.col-xs-9 {width: 75%;}
	.col-xs-8 {width: 66.662%;}
	.col-xs-7 {width: 58.331%}
	.col-xs-6 {width: 50%;}
	.col-xs-5 {width: 41.662%}
	.col-xs-4 {width: 33.332%;}
	.col-xs-3 {width: 25%;}
	.col-xs-2 {width: 16.662%;}
	.col-xs-1 {width: 8.332%;}

	@media screen and (min-width: 768px) {
		
		.row {
			margin-right: -40px;
		}
		
		.col {
			padding-right: 40px;
		}
			
		.col-sm-11 {width: 91.662%}
		.col-sm-10 {width: 83.332%;}
		.col-sm-9 {width: 75%;}
		.col-sm-8 {width: 66.662%;}
		.col-sm-7 {width: 58.331%}
		.col-sm-6 {width: 50%;}
		.col-sm-5 {width: 41.662%}
		.col-sm-4 {width: 33.332%;}
		.col-sm-3 {width: 25%;}
		.col-sm-2 {width: 16.662%;}
		.col-sm-1 {width: 8.332%;}
		
	}

	@media screen and (min-width: 1024px) {
		
		.col-md-11 {width: 91.662%}
		.col-md-10 {width: 83.332%;}
		.col-md-9 {width: 75%;}
		.col-md-8 {width: 66.662%;}
		.col-md-7 {width: 58.331%}
		.col-md-6 {width: 50%;}
		.col-md-5 {width: 41.662%}
		.col-md-4 {width: 33.332%;}
		.col-md-3 {width: 25%;}
		.col-md-2 {width: 16.662%;}
		.col-md-1 {width: 8.332%;}
		
	}

	@media screen and (min-width: 1280px) {
		
		.col-lg-11 {width: 91.662%}
		.col-lg-10 {width: 83.332%;}
		.col-lg-9 {width: 75%;}
		.col-lg-8 {width: 66.662%;}
		.col-lg-7 {width: 58.331%}
		.col-lg-6 {width: 50%;}
		.col-lg-5 {width: 41.662%}
		.col-lg-4 {width: 33.332%;}
		.col-lg-3 {width: 25%;}
		.col-lg-2 {width: 16.662%;}
		.col-lg-1 {width: 8.332%;}
		
	}

	@media screen and (max-width: 1023px) {
		.push-down-sm {
			margin-bottom: 30px;
		}
	}

	@media screen and (max-width: 767px) {
		.push-down-sm {
			margin-bottom: 15px;
		}
	}
/* Grid */


/*Used for auto align when using float*/
	.row:before,
	.row:after,
	.group:before,
	.group:after {
		content: "";
		display: table;
	}

	.row:after,
	.group:after {
		clear: both;
	}

	.row,
	.group {
		zoom: 1;
	}
/*Used for auto align when using float in float*/

/*Responsive*/
	@media screen and (max-width:750px)
	{
		.image {
			display: none;
		}

		table {
			font-size: .8em;
		}

		.description {
			padding-right:8%;
			padding-left:5%;
		}

		.home-content {
			font-size:.9em;
		}

		.heading{
			box-shadow: 5px 5px black;
		}

		.heading {
			background-color: #5e7171;
			color:white;
		}

		.menu {
			background-color: black
		}

		.content {
			border-radius: 0px;
			background-color:white;
			box-shadow:1px 1px 10px 1px black;
			color:black;
			
		}

		.content td {
			color:black;
		}

		body {
			background-color: whitesmoke;
		}

		th {
			background-color: #5e7171;
			color:white;
		}

		.content-heading {
			background-color: #5e7171;
			color:white;
		}

		.content-table tr td,.content-table tr th{
			border:1px solid #5e7171;
		}

		select {
			background-color:#5e7171;
		}

		.content .calc-button {
			background-color:#5e7171;
		}

		.result {
			color:black;
		}

		.percentage {
			width:100%;
			height:30px;
			color:white;
			background-color:rgba(0,0,0,.60);
		}

		.percentage-amount {
			background-color:darkgreen;
		}

		.home-content-whole {

			border-color:#5e7171;
		}

		.home-content-whole a {
			color:black;
		}

		.home-link {
			background-color:rgba(235, 202, 116, .30);
			padding:3%;
		}
		
		/*.home-link:hover {
		background-color:rgba(235, 202, 116, .40);
		transform:none;
		padding:0;
		transition-duration: 0s;
		}*/

		.code {
			display:block;
		}

		.code-lap {
			display: none;
		}

		input {
			height:20px;
		}
}

/*Responsive*/